/* Home.css */
.Home {
    padding: 20px;
    text-align: center;
  }
  .Home h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-card {
    margin: 10px;
    width: 200px;
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
  }
  
  .movie-info {
    text-align: left;
    padding: 10px;
  }
  
  .selectors-container {
    display: flex;
    gap: 10px; /* Espacio entre los selectores */
    margin-bottom: 20px; /* Espacio debajo de los selectores */
  }
  