/* ListOptions.css */
.list-options {
  display: flex;
  align-items: center;
}

.custom-select {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #000000;
  background-color: white;
  font-size: 1em;
  color: #333;
  flex-grow: 1;
  margin-right: 10px;
}


.clear-button {
  background-color: #ffffff;
  border: none;
  color: #373d3c;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.clear-button:hover {
  background-color: #0be6a4;
}
